.banner {
  .bannerImage {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    @media screen and (min-width: 1200px) {
      display: flex;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}
